* {
  margin: 0;
  padding: 0;
}

.body {
  font-family: "Montserrat", sans-serif;
}

.top {
  background-image: url(img/top__background.jpg);
  height: 1024px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.top__box {
  padding-top: 217px;
  display: flex;
  flex-direction: column;
  padding-left: 120px;
}
.top__box_heading {
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 78px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
  max-width: 700px;
}
.top__box_text {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 32px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
  max-width: 450px;
  padding-top: 32px;
  padding-bottom: 44px;
}
.top__box_button {
  background: #9C0332;
  border-radius: 30px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
  width: 234.06px;
  height: 48.6px;
  transition: 0.3s;
  text-decoration: none;
  display: flex;
  justify-content: center;
}
.top__box_button:hover {
  background: rgba(0, 0, 0, 0);
  color: #3a7999;
  box-shadow: inset 0 0 0 3px #3a7999;
}

.footer {
  background-image: url(img/footer__background.jpg);
  height: 556px;
  display: flex;
  justify-content: center;
  gap: 32px;
  align-items: center;
}
.footer__game {
  width: 379px;
  height: 300px;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
  display: flex;
  text-decoration: none;
  align-items: flex-end;
  gap: 32px;
  border-radius: 16px;
}
.footer__game-1 {
  background-image: url(img/footer__game-1.jpg);
}
.footer__game-2 {
  background-image: url(img/footer__game-2.jpg);
}
.footer__game-3 {
  background-image: url(img/footer__game-3.jpg);
}
.footer__text {
  margin-left: 32px;
  margin-bottom: 32px;
}

.game {
  background-image: url(img/game__background.jpg);
  display: flex;
  height: 800px;
}

.game__box-heading {
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 59px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
  padding-bottom: 32px;
}
.game__box-text {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 32px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
  max-width: 584px;
  padding-bottom: 32px;
}
.game__box-button {
  background: #9C0332;
  border-radius: 30px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
  width: 234.06px;
  height: 48.6px;
  transition: 0.3s;
  text-decoration: none;
  display: flex;
  justify-content: center;
}

.game__box-button:hover {
  background: rgba(0, 0, 0, 0);
  color: #3a7999;
  box-shadow: inset 0 0 0 3px #3a7999;
}

.game2 {
  background-image: url(img/game__background.jpg);
  display: flex;
  height: 800px;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.game2__box-heading {
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 59px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
  padding-bottom: 32px;
}
.game2__box-text {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 32px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
  width: 584px;
  padding-bottom: 32px;
}
.game2__box-button {
  background: #9C0332;
  border-radius: 30px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
  width: 234.06px;
  height: 48.6px;
  transition: 0.3s;
  text-decoration: none;
  display: flex;
  justify-content: center;
}

.game2__box-button:hover {
  background: rgba(0, 0, 0, 0);
  color: #3a7999;
  box-shadow: inset 0 0 0 3px #3a7999;
}

.game3 {
  background-image: url(img/game3__background.jpg);
  height: 800px;
}

.game3__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}
.game3__box-heading {
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 59px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
}
.game3__box-text {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 32px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
  max-width: 1200px;
  padding-left: 120px;
  padding-right: 120px;
}
.game3__box-button {
  background: #9C0332;
  border-radius: 30px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
  width: 234.06px;
  height: 48.6px;
  transition: 0.3s;
  text-decoration: none;
  display: flex;
  justify-content: center;
}

.game3__box-button:hover {
  background: rgba(0, 0, 0, 0);
  color: #3a7999;
  box-shadow: inset 0 0 0 3px #3a7999;
}

* {
  margin: 0px;
  padding: 0px;
}

@media (max-width: 767px) {
  .body {
    overflow-x: hidden;
  }
  .top {
    height: 735px;
  }
  .top__box {
    padding-left: 16px;
    padding-right: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .top__box_heading {
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
  }
  .top__box_text {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
  }
  .footer {
    height: 1221px;
    display: flex;
    flex-direction: column;
  }
  .footer__game-1 {
    background-image: url(img/game-1__mobile.jpg);
    width: 343px;
    height: 300px;
    border-radius: 16px;
  }
  .footer__game-2 {
    background-image: url(img/game-2__mobile.jpg);
    width: 343px;
    height: 300px;
    border-radius: 16px;
  }
  .footer__game-3 {
    background-image: url(img/game-3__mobile.jpg);
    width: 343px;
    height: 300px;
    border-radius: 16px;
  }
  .game {
    height: 653px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .game__box {
    padding-top: 51px;
    padding-bottom: 85px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .game__box-heading {
    font-size: 32px;
    line-height: 39px;
  }
  .game__box-text {
    font-size: 14px;
    line-height: 22px;
    text-align: center;
  }
  .game--img {
    width: 344px;
    height: 236px;
    padding-bottom: 85px;
  }
  .game2 {
    height: 653px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .game2__box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .game2__box-heading {
    font-size: 32px;
    line-height: 39px;
    text-align: center;
    padding-left: 53px;
    padding-right: 58px;
  }
  .game2__box-text {
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    max-width: 343px;
  }
  .game2--img {
    width: 344px;
    height: 231px;
    padding-top: 64px;
  }
}
.game3__box {
  padding-top: 51px;
}

.game3__box-heading {
  font-size: 32px;
  line-height: 39px;
}

.game3__box-text {
  font-size: 14px;
  line-height: 22px;
  width: 343px;
}/*# sourceMappingURL=style.css.map */