* {
    margin: 0;
    padding: 0;
}

.body {
    font-family:"Montserrat", sans-serif;
}


.top {
    background-image: url(img/top__background.jpg );
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.top__box {
    padding-top: 217px;
    display: flex;
    flex-direction: column;
    padding-left: 120px;
    padding-bottom: 493px;
    &_heading {
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 78px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    max-width: 700px;
}

&_text {
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 32px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    max-width: 450px;
    padding-top: 32px;
    padding-bottom: 44px;
}

&_button {
    background: #9C0332;
    border-radius: 30px;font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    width: 234.06px;
    height: 48.6px;
    transition: 0.3s;
    text-decoration: none;
    display: flex;
    justify-content: center;
}

&_button:hover {
    background: rgba(0,0,0,0);
  color: #3a7999;
  box-shadow: inset 0 0 0 3px #3a7999
} 
}

.footer{
    background-image: url(img/footer__background.jpg);
    height: 556px;
    display: flex;
    justify-content: center;
    gap: 32px;
    align-items: center;

    &__game{
    width: 379px;
    height: 300px;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    display: flex;
    text-decoration: none;
    align-items: flex-end;
    gap: 32px;
    border-radius: 16px;

    &-1 {
    background-image: url(img/footer__game-1.jpg);
}

&-2 {
    background-image: url(img/footer__game-2.jpg);
    
}

&-3 {
    background-image: url(img/footer__game-3.jpg);
}

    
}


&__text {
    margin-left: 32px;
    margin-bottom: 32px;
}
}

.gametime {
    background-image: url(img/gametime__background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
}

.gametime__box {
    padding-left: 120px;
    padding-bottom: 288px;
    padding-top: 276px;
    &-heading {
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 59px;
    padding-bottom: 32px;
    color: #FFFFFF;
    }

    &-text {
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 32px;
    width: 584px;
    padding-bottom: 32px;
    align-items: center;
    color: #FFFFFF;
    }
}
.gametime__img {
    padding-left: 135px;
    padding-bottom: 233px;
    padding-top: 233px;
    padding-right: 116px;
}

.gameword {
    background-image: url(img/gametime__background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: row-reverse;
}

.gameword__box {
    padding-bottom: 282px;
    padding-top: 282px;
    padding-right: 116px;
    padding-left: 150px;

    &-heading {
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 59px;
    padding-bottom: 32px;
    color: #FFFFFF;
    }
    
    &-text {
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 32px;
    width: 588px;
    padding-bottom: 32px;
    align-items: center;
    color: #FFFFFF;
    }
}
.gametime__img{
    padding-top: 239px;
    padding-bottom: 239px;
    padding-left: 120px;
    padding-right: 135px;
}

.gameriddle {
    background-image: url(img/gameriddle__backgrond.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.gameriddle__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    padding-left: 120px;
    padding-right: 120px;
    padding-top: 276px;
    padding-bottom: 288px;

    &-heading {
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 59px;
    padding-bottom: 32px;
    color: #FFFFFF;
        }
        
    &-text {
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 32px;
    width: 1200px;
    text-align: center;
    padding-bottom: 32px;
    align-items: center;
    color: #FFFFFF;
        }
}

@import 'mobile';