@media (max-width: 767px) {
    .top {
        width: 375px;
        height: 735px;   
   }

   .top__box {
    padding-top: 240px;
    padding-left: 16px;
    display: flex;
    align-items: center;
}

   .top__box_heading {
    font-size: 32px;
    line-height: 39px;
    text-align: center;
   }

   .top__box_text {
    font-size: 14px;
    line-height: 22px;
    text-align: center;
   }

   .footer {
    display: flex;
    gap: 32px;
    flex-direction: column;
    padding-left: 16px;
    padding-right: 16px;
    width: 343px;
    height: 1221px;
    
    &__game {
        width: 343px;
height: 300px;
    }
   }
}
 